/* Estilos CSS */
        :root {
    --cor: #e60009d3 
}
/*cor  #ffe715d2 amarelo opaco 
         #8098ffca azul opaco 
         #e60009d3
         */
        * { /* adicionado para fazer a página ocupar toda a tela */
            margin: 0 auto;
            padding: 0;
            box-sizing: border-box;
        }
       .loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--cor); /* Tema desejado */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Garante que o elemento de carregamento esteja na parte superior */
}

.loading-icon {
    width: 100%; /* Ajuste conforme necessário */
   /* Ajuste conforme necessário */
}
.loading-icon.animate-icon {
    transition: transform 1s ease; /* Transição de 1 segundo com efeito de transição suave */
}

.loading-icon.animate-icon.animated {
    transform: translateY(-100vh); /* Move o ícone para cima em 100% da altura da tela */
}
         .gallery {
            display: flex;
            justify-content: space-between;
            overflow-x: auto;
            
        }

        .gallery img {
            width: 15%; /* Ajuste conforme necessário */
            margin: 40px;
            cursor: pointer;
            border: 4px solid #e60009d3; 
            border-radius: 10px;
    border: 10px solid var(--cor);
        }
        
        .main-image {
            min-width: 400px; /* Ajuste conforme necessário */
        }
       
        body {
            width: 100%;
            font-family: Arial, sans-serif;
            background-image: url('fundo.jpeg'); /* Define a imagem do céu como plano de fundo */
               background-size: cover; /* Redimensiona a imagem para cobrir todo o corpo */
            background-repeat: no-repeat; /* Evita a repetição da imagem */
            background-attachment: fixed; /* Fixa a imagem para que ela role com o conteúdo */
            
            margin: 0;
            padding: 0;
            
           border: 40px solid var(--cor);
        }

        .overlay {
            background-color: rgba(255, 255, 255, 0.5); /* Adiciona uma sobreposição branca transparente */
            padding: 20px;
            max-width: 1200px;
            margin: 0 auto;
        }
      
        .header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;                                                 
            display: flex;
            align-items: center;
            justify-content: space;
            background-color: var(--cor);
            padding: 3%;
        }

        .logo {
            min-width: 1%;
            font-size: 10px;
            font-weight: bold;
            color: #26ff00;
            border-radius: 10px; 
            }

        .menu {
            display: flex;
            list-style: none;
            font-size: 30px 
            }

        .menu li {
            margin: 10px;
        }

        .menu a {
            color: white;
            text-decoration: none;
        }

        .content {
       
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 20px;
            overflow-y: auto; 
            margin-top: 35px; 
            calc(100vh - 140px);
             
        }
        .product {
            display: flex;
            align-items: center;
            border: 1px solid var(--cor);
            border-radius: 30px; 
            padding: 10px;
            width: 100%;
            cursor: pointer;
        }

        .product img {
            width: 150px;
            height: 150px;
            border-radius: 20px;
            border: 1px solid var(--cor);

        }

        .product-info {
            margin-left: 10px;
        }

        .product-name {
            
            font-size: 40px;
            font-weight: bold;
            
                    }

        .product-price {
            color: var(--cor);            
            font-size: 25px;
        }

        .product-button {
            display: block;
            background-color: var(--cor);
            color: white;
            padding: 2% 25%;
            margin-top: 20px;
            border-radius: 70px; 
            text-align: center;
            text-decoration: none;
            font-size: 200%;
        }

        .footer { 
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: var(--cor);
            padding: 10px;            
        }

        .footer-logo { 
            font-size: 24px;
            font-weight: bold;
            color: white;            
        }

        .footer-menu { 
           display:flex; 
           list-style:none;           
        }

        .footer-menu li { 
           margin-left :10px;           
        }
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            width: 100%; 
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            margin-top: 13%;
            width: 100%;
            
        }

        .product-details {
            display: flex;
            flex-wrap: wrap;
        }

              .product-image {
    margin: 10% 0% 1em;
    width: 100%;
    height: auto;
    position: flex;
    top: 0;
    left: 0;
    border-radius: 20px;
    border: 10px solid var(--cor);
        }

        .product-info {
            flex: 1;
        }

        .product-title {
            font-size: 70px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .product-price {
            font-size: 50px;
            color: green;
            margin-bottom: 20px;
        }

        .product-description {
             color: black;
            font-size: 35px;
            margin: 10% 0% 1em;
        }

        .product-specs {
            color: black;
            font-size: 30px;
            margin-bottom: 20px;
        }

        .product-specs h2 { 
            color: white;
            font-size: 35px;
            font-weight: bold;
        }

        .product-specs ul {
            list-style: none;
            padding-left: 0;
        }

        .product-specs li {
            margin-bottom: 5px;
        }

        .related-products {
            margin-top: 20px;
        }

        .related-products h2 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .product-grid {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }

        .related-product {
            flex-basis: calc(50% - 20px);
            margin-right: 20px;
            margin-bottom: 20px;
            width: 50%;
        }

        .related-product-image {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }

        .related-product-title {
            font-size: 18px;
            font-weight: bold;
        }

        .related-product-price {
            font-size: 16px;
            color: green;
        }
        .ref {
            text-decoration: underline;  color: black;
            width: 50% ;
            padding: 10px;
        }
         .center {
            text-align: center;
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            background-color: #e60009d3;
            color: #fff;
        }
         ul {
            list-style-type: none;
            padding: 0;
       }

        ul li {
            margin-bottom: 10px;
       }

        ul li a {
            text-decoration: none;
            color: #fff;
       }

        ul li a:hover {
             text-decoration: underline;
       }


       footer {
             background-color: #333;
             color: #00ff42cf;
             text-align: center;
             padding: 10px 0;
             /*#ffe715*/
       }
